.m-wrap-box-social {
  display: flex;
}

.m-box-social {
  width: 348px;
  text-align: center;
  padding: 63px 0 0;
}

.m-box-social-img {
  width: 90px;
  display: block;
  margin: 0 auto;
}

.m-box-social-label {
  color: #535353;
  font-family: 'primeregular';
  font-size: 1.9rem;
  text-transform: uppercase;
  display: block;
  padding: 25px 0 31px;
}