.m-wrap-box-social {
  display: flex;
  flex-wrap: wrap;
}

.m-box-social {
  text-align: center;
  padding: 59px 0 47px;
  width: 20%;
  border: 3px dotted #cbcccd;

  @media screen and (max-width: 1467px) {
    width: 25%;
  }

  @media screen and (max-width: 1030px) {
    width: 33.3%;
  }

  @media screen and (max-width: 810px) {
    width: 50%;
  }
}

.m-box-social-img {
  width: 90px;
  margin: 0 auto;
  position: relative;

  img {
    max-width: 100px;
    display: block;
  }

  i {
    position: absolute;
    top: 8px;
    right: -57px;
    font-size: 2rem;
  }
}

.m-box-social-label {
  color: #535353;
  font-family: 'primeregular';
  font-size: 1.9rem;
  text-transform: uppercase;
  height: 86px;
  display: flex;
  align-items: center;
  justify-content: center;
  // padding: 25px 0 31px;
}