.m-btn {
  color: #fff;
  font-family: 'primeregular';
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 49px;
  border: none;
  border-radius: 5px;
  height: 49px;
  display:inline-block;
  padding: 0 27px;
  cursor: pointer;
  background-color: #ccc;
}

.m-btn-light {
  @extend .m-btn;
  color: #737373;
  background-color: transparent
}

.m-btn-primary {
  @extend .m-btn;
  background-color: #4A8FE2;
}

.m-btn-secondary {
  @extend .m-btn;
  background-color: #E0524C;
}

.m-btn-large {
  line-height: 74px;
  height: 74px;
}

.m-btn-uppercase {
  text-transform: uppercase;
}