.m-modal {
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  background-size: cover;
  transition: 200ms ease-in-out;
  opacity: 0;
  visibility: hidden;
  z-index: 5;

  &.is-active {
    opacity: 1;
    visibility: visible;

    .m-modal-container {
      top: 0;
    }
  }
}

.m-modal-container {
  min-width: 927px;
  color: #000;
  position: absolute;
  top: -100%;
  left: 50%;
  padding: 37px 0 0;
  transform: translate(-50%, 0);
  background-color: #fff;
  transition: 200ms ease-in-out;

  @media screen and (max-width: 1000px) {
    min-width: 95%;
  }
}

.m-did-not-find-your-page {
  color: #808184;
  font-size: 1.3rem;
  padding-bottom: 25px;
}

.m-modal-topo {
  position: relative;
  padding: 0 37px;
}

.m-modal-topo-ico {
  display: inline-block;
  border: 2px solid #d8d8d8;
  border-radius: 50%;
  width: 61px;
  height: 61px;
  vertical-align: middle;
  overflow: hidden;

  img {
    width: 100%;
    display: block;
  }
}

.m-modal-topo-title {
  font-size: 2.3rem;
  font-weight: 100;
  vertical-align: middle;
  display: inline-block;
  padding-left: 14px;
}

.m-close-modal {
  font-size: 2rem;
  color: #7f868b;
  position: absolute;
  top: 2px;
  right: 45px;
}

.m-modal-body {
  padding: 0 37px;
}

.m-modal-footer {
  display: flex;
  justify-content: space-between;
  padding: 25px 37px;
  margin-top: 97px;
  background-color: #F8F8F8;
}

// >>>>>>> STEP
.m-wrap-step {
  padding: 38px 73px 80px;
  display: flex;
  justify-content: space-between;
}

.m-step {
  color: #d8d8d8;
  width: 20px;
  height: 20px;
  font-size: 1.15rem;
  border-radius: 50%;
  position: relative;
  background-color: #d8d8d8;

  &.m-is-prev,
  &.m-is-curret {
    color: #000;
    background-color: #ef9f2e;

    &:after {
      border-color: #ef9f2e;
    }
  }

  &:first-child {
    &:after {
      display: none;
    }
  }

  &:before {
    content: attr(data-label);
    position: absolute;
    left: 50%;
    bottom: -28px;
    transform: translateX(-50%);
  }

  &:after {
    content: '';
    width: 999%;
    border-bottom: 2px solid #d8d8d8;
    position: absolute;
    right: 112%;
    top: 50%;
    transform: translateY(-50%);
  }
}

// >>>> lIST PAGES
.m-list-pages {
  max-height: 262px;
  padding: 0 23px;
  margin: 18px 0 38px;
  background-color: #efefef;
  overflow-y: auto;

  li {
    padding: 17px 0 18px;
    min-height: 109px;
    border-bottom: 1px solid #fff;
    position: relative;
  }

  .m-custom-input-radio {
    position: absolute;
    top: 50%;
    right: 17px;
    transform: translateY(-50%);
  }
}

.m-list-pages-picture {
  float: left;
  width: 75px;
  height: 74px;
  margin-right: 22px;
  border: 1px solid #9d9d9d;
  overflow: hidden;

  img {
    width: 100%;
    display: block;
  }
}

.m-list-pages-name {
  font-size: 1.6rem;
  padding: 10px 0 7px;
}

.m-list-pages-url {
  color: #969696;
  font-size: 1.2rem;
}